.footer {
  width: 100vw;
  background-color: var(--color-secondary-blue);
  /* Continues from contact section */
  padding: var(--spacing-xxl) var(--spacing-lg) var(--spacing-xl);
  text-align: center;
}

.footerRounded {
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  margin-top: -56px;
  outline: 1px solid var(--color-border);
  outline-offset: 0px;
}

@media (max-width: 768px) {
  .footerRounded {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 600;
  margin-bottom: var(--spacing-sm);
  color: var(--color-text-dark);
}

.subtitle {
  font-size: 1.1rem;
  margin-bottom: var(--spacing-lg);
  color: var(--color-text-dark);
}

.socials {
  display: flex;
  gap: 1rem;
  margin-bottom: var(--spacing-lg);
}

.socialIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  background-color: var(--color-primary-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: var(--color-text-dark);
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
}

.socialIcon:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 0px 0px var(--color-border);
}


.footerNav {
  display: flex;
  gap: 2rem;
}

.navLink {
  font-size: 1rem;
  font-weight: 400;
  color: #1E1E1E;
  transition: opacity 0.2s ease;
}

.navLink:hover {
  opacity: 0.7;
}

.legal {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  color: #333;
  /* Slightly subdued text */
}

.legalLink {
  text-decoration: none;
}

.legalLink:hover {
  text-decoration: underline;
}

.flexBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@media (max-width: 600px) {
  .footerNav {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .navLink {
    font-size: 0.9rem;
  }

  .legal {
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.9rem;
    justify-content: center;
    width: 100%;
  }
}